@media all and (min-width: 768px) {
    .content h1{
        font-size: 20px;
    }
    .payment h3{
        font-size: 25px;
    }
    .card-wrapper {
        max-width: 600px;
        border: 1px solid #0094ff;
        padding: 10px 60px;
        margin: 0 60px;
    }
    .tab li a{
        font-size: 1.6rem;
    }
    #name{
        padding:8px;
    }
    .name{
        font-size: 18px;
    }
}
