.header {
    height: 50px;
}

.content {
    background-color: #000;
    padding-top: 15px;
    padding-bottom: 20px;
}

    .content .container {
        max-width: 700px;
    }

    .content h1 {
        text-align: center;
        margin-bottom: 10px;
        color: #fff;
        font-size: 15px;
    }

    .content h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        color: #fff;
        text-align: center;
    }

.payment {
    background-color: #808080;
    padding: 20px 0;
}
.payment .container{
    max-width:700px;
}
    .payment h3 {
        color: #000;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        display: flex;
        justify-content: center;
        padding: 10px 0;
        font-weight: bold;
    }
/* service section */
.services {
    padding-top: 60px;
    overflow: hidden;
}

    .services .container {
        flex-direction: column;
    }

.service-title {
    width: 100%;
}

.tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    padding: 20px 0px;
    margin: 0 -25px;
}

    .tab li a {
        font-size: 1.1rem;
        /*color: #929292;*/
        font-weight: 600;
        text-transform: capitalize;
        padding: 16px 19px;
        border-radius: 10px
    }

.service-title h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    text-transform: capitalize;
    font-weight: 400;
    margin: 10px 0;
    text-align: center;
}
.tabing{
    margin-bottom:15px;
}
.ui-tabs .ui-tabs-nav li {
    width: 100%;
    display: flex;
    justify-content: center;
}
.ui-tabs .ui-tabs-panel{
    padding:0;
}
.ui-tabs .ui-tabs-nav {
    margin-bottom: 15px;
}
.card-details{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom:10px;
}
.name {
    width: 50%;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-transform:capitalize;
}
#name{
    width:50%;
    border-radius:4%;
    padding:4px;
}
.card-wrapper {
    border: 1px solid #0094ff;
    padding: 10px;
}
.button-wrap{
    display:flex;
    justify-content:center;
}
.qr-data{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

